# Broadcasting Example

In [ ]:
import numpy as np

## Broadcasting

In [ ]:
A = np.array([[56.0, 0.0, 4.4, 68.0],
             [1.2, 104.0, 52.0, 8.0],
             [1.8,135.0,99.0,0.9]])
print(A)

In [ ]:
cal_sum = A.sum(axis=0)
print(cal_sum)

In [ ]:
percentage = 100 * A / cal_sum
print(percentage)

In [ ]:
print(A.shape)

In [ ]:
print(cal_sum.shape)

## Under the hood

In [ ]:
cal_sum_ = cal_sum.reshape(1,4).repeat(3, axis=0)
print(cal_sum_)

In [ ]:
percentage_ = 100 * A / cal_sum_
print(percentage_)

In [ ]:
percentage - percentage_

------------
# Itertools

In [ ]:
import itertools

## cycle

In [ ]:
# Create an iterator that cycles through the list [1, 2, 3]
cycler = itertools.cycle([1, 2, 3])

# Generate the first 10 elements of the cycle
print("Cycle Example:")
for i, element in enumerate(cycler):
    if i == 10:  # Stop after 10 iterations
        break
    print(element, end=" ")  # Output: 1 2 3 1 2 3 1 2 3 1

## repeat

In [ ]:
# Repeat the number 4, five times
repeater = itertools.repeat(4, 5)

print("\nRepeat Example:")
for element in repeater:
    print(element, end=" ")  # Output: 4 4 4 4 4

## chain

In [ ]:
# Chain three lists together
chainer = itertools.chain([1, 2, 3], ['a', 'b', 'c'], [4.0, 5.0, 6.0])

print("\nChain Example:")
for element in chainer:
    print(element, end=" ")  # Output: 1 2 3 a b c 4.0 5.0 6.0

## combination

In [ ]:
lst = [1, 2, 3]
comb = list(itertools.combinations(lst, 2))
print(comb)  # Output: [(1, 2), (1, 3), (2, 3)]

----------
# Pandas

In [ ]:
import pandas as pd

## Series & DataFrame

### series

In [ ]:
import pandas as pd

# Create a Series from a list
s = pd.Series([1, 2, 3, 4, 5])

# Create a Series with custom index
s_with_index = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

In [ ]:
s

In [ ]:
s_with_index

### DataFrame

In [ ]:
# Create a DataFrame from a dictionary
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': ['p', 'q', 'r']
})

# Create a DataFrame from multiple Series
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
df_from_series = pd.DataFrame({'Column1': s1, 'Column2': s2})

In [ ]:
df_from_series

----------
## NumPy and Pandas

## Easy Creation by Converting

In [ ]:
# Creating a NumPy array
numpy_array = np.array([[1, 2, 3], [4, 5, 6]])

# Convert to a DataFrame
df_from_array = pd.DataFrame(numpy_array, columns=['A', 'B', 'C'])

# Show the underlying NumPy array from DataFrame
print(df_from_array.values)

## Datatype

In [ ]:
# Creating a DataFrame with mixed types
df = pd.DataFrame({'A': [1, 2, 3], 'B': [1.2, 3.4, 4.5], 'C': ['a', 'b', 'c']})

# Check the data types; these map to NumPy dtypes
print(df.dtypes)

In [ ]:
df

## Advanced Indexing

In [ ]:
# NumPy boolean indexing
numpy_array = np.array([1, 2, 3, 4, 5])
filtered_array = numpy_array[numpy_array > 2]
print(filtered_array)  # Output: [3 4 5]

In [ ]:
# Pandas boolean indexing
s = pd.Series([1, 2, 3, 4, 5])
filtered_series = s[s > 2]
print(filtered_series)  # Output: 2    3, 3    4, 4    5

In [ ]:
# Using NumPy logical_and for compound filtering
filtered_series = s[np.logical_and(s > 2, s < 5)]
print(filtered_series)  # Output: 2    3, 3    4

## Broadcasting

In [ ]:
df

In [ ]:
# Adding a single number to a whole NumPy array
numpy_array += 1

# Adding a single number to a whole DataFrame column
df['A'] += 1

In [ ]:
df

## Universal Functions

In [ ]:
# Using NumPy sqrt function on a Pandas Series
s_sqrt = np.sqrt(s)
print(s_sqrt)

---------
# Basic Operations

## Create a CSV

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Pet': ['Cat', 'Dog', 'Fish', 'Bird']
}

df = pd.DataFrame(data)

# Saving the DataFrame to a CSV file
df.to_csv('people_pets.csv', index=False)

In [ ]:
df

## Reading the CSV and get info

In [ ]:
# Reading the CSV file into a DataFrame
df = pd.read_csv('people_pets.csv')

# Show the first few rows of the DataFrame
print("First few rows:\n", df.head())

# Show the last few rows of the DataFrame
print("\nLast few rows:\n", df.tail())

# Statistical summary of numerical columns
print("\nStatistical Summary:\n", df.describe())

# Information about the DataFrame including data types and memory usage
print("\nDataFrame Info:")
print(df.info())

In [41]:
import numpy as np

# Create the initial array
arr = np.array(['ac', '10', 'bc', 'acc'])

# Use np.char.startswith to filter elements starting with 'a'
filtered_arr = arr[np.char.startswith(arr, 'a')]

print(filtered_arr)

['ac' 'acc']