# String

## Integration

In [2]:
mon = 6
year = 2022
income = 9527.5

### Concat

In [3]:
info = "Income for " + str(year) + '-' + str(mon)+ ': $' + str(income)
info

'Income for 2022-6: $9527.5'

### .format

In [4]:
info = "Income for {}-{}: ${}".format(year, mon, income)
info

'Income for 2022-6: $9527.5'

### f""

In [5]:
info = f"Income for {year}-{mon}: ${income}"
info

'Income for 2022-6: $9527.5'

## Extraction

In [8]:
# Input string
info = "Income for 2022-6: $9527.5"

# Split the string using ':' as a delimiter to separate the label from the value
label, value = info.split(':')

# Extract year, month, and income from the label without using map
year_str, month_str = label.split()[-1].split('-')
year = int(year_str)
month = int(month_str)
income = float(value.strip().replace('$', ''))

# Printing the extracted values
print(f"Year: {year}")
print(f"Month: {month}")
print(f"Income: ${income}")

Year: 2022
Month: 6
Income: $9527.5

# Loop

## For Loops

### to iterate a list

In [10]:
l = [1,2,3,4,5]
for item in l:
    print(item)

1
2
3
4
5

### to count (repeat something for a number of times)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

## While Loops

In [14]:
x = 0
while True:
    x += 1
    print(x)
    if x > 4:
        break

1
2
3
4
5

# list

## can take everything

In [1]:
def print_myname(str):
    print(f'my name is {str}')

a = int(9)
b = 9.9
c = 'xinxi'
func = print_myname

l = [a,b,c,func]

In [2]:
l

[9, 9.9, 'xinxi', <function __main__.print_myname(str)>]

## for loops + list

In [17]:
x = [5,4,3,2,1]
y = [1,2,3,4,5,6]

### index-based looping

In [18]:
for index in range(len(x)):
    print(x[index])

5
4
3
2
1

### item based

In [19]:
for item in x:
    print(item)

5
4
3
2
1

### enumerate
what if I want to get the index and the corresponded item at the same time

In [20]:
for index, item in enumerate(x):
    print(f'index={index}, item={item}')

index=0, item=5
index=1, item=4
index=2, item=3
index=3, item=2
index=4, item=1

### zip

In [23]:
for item_x, item_y in zip(x,y):
    print(item_x, item_y)

5 1
4 2
3 3
2 4
1 5

# Fibonacci sequence

## Loop

In [28]:
def fibonacci_iterative(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        fib = [0, 1]
        for i in range(2, n + 1):
            next_fib = fib[i - 1] + fib[i - 2]
            fib.append(next_fib)
        return fib[n]

# Example usage:
n = 8
fibonacci_value = fibonacci_iterative(n)
print(f"The {n}-th Fibonacci number (iterative) is: {fibonacci_value}")

The 8-th Fibonacci number (iterative) is: 21

## Recursion

In [29]:
def fibonacci_recursive(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

# Example usage:
n = 8
fibonacci_value = fibonacci_recursive(n)
print(f"The {n}-th Fibonacci number (recursive) is: {fibonacci_value}")

The 8-th Fibonacci number (recursive) is: 21